<form [formGroup]="reciclaje">
  <select class="form-control" formControlName="id_grupo">
    <option *ngFor="let grupo of grupos" ngValue={{grupo.value}} >
      {{ grupo.nombre }}
    </option>
  </select>
  <select class="form-control" formControlName="id_tipo_rec">
    <option *ngFor="let grupo of tipor" ngValue={{grupo.value}} >
      {{ grupo.nombre }}
    </option>
    </select>
  <input type="text" placeholder="Cantidad" class="form-control" formControlName="cantidad"/>
  <input type="text" placeholder="Etapa" class="form-control" formControlName="etapa"/>
  <button (click)="info()" class="btn btn-primary" value="Login">Ingresar reciclaje</button>
</form>
