<div>
  <a [routerLink]="['/login']">Ingresar</a>
</div>

<select #etapa (change)="etapaonchange(etapa.value)">
  <option *ngFor="let etapa of etapas" ngValue="{{ etapa.value }}">
    {{ etapa.nombre }}
  </option>
</select>

<select #grupo (change)="grupoonchange(grupo.value)">
  <option *ngFor="let grupo of grupos" ngValue="{{ grupo.value }}">
    {{ grupo.nombre }}
  </option>
</select>

<div *ngFor="let etapa of etapas">
  <button class="btn btn-primary" (click)="getreciclajebyetapa(etapa.value)">
    {{ etapa.nombre }}
  </button>
</div>

<div>
  <div>
    <div style="display: block">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
      >
      </canvas>
    </div>
  </div>
</div>
