<button [routerLink]="['/creciclaje']" class="btn btn-success">
  Agregar reciclaje
</button>

<button (click)="getreciclaje(1)" class="btn btn-success">
  Etapa 1
</button>
<button (click)="getreciclaje(2)" class="btn btn-success">
  Etapa 2
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Grupo</th>
      <th scope="col">Tipo de reciclaje</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Acciones</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reciclaje of reciclajes">
      <td>{{reciclaje.nombre}}</td>
      <td>{{reciclaje.tipo_rec}}</td>
      <td>{{reciclaje.cantidad}}</td>
      <td><button class="btn btn-primary" (click)="etreciclaje(reciclaje.id)">Editar</button></td>
      <td><button class="btn btn-danger" (click)="detreciclaje(reciclaje.id)">Eliminar</button></td>
    </tr>
  </tbody>
</table>
