<form [formGroup]="login">
  <h2 class="title">Bienvenido</h2>
  <div class="input-div one">
    <div class="i">
      <i class="fas fa-user"></i>
    </div>

    <div class="div">
      <input
        type="text"
        class="input"
        placeholder="documento"
        formControlName="doc"
      />
    </div>
  </div>

  <div class="input-div pass">
    <div class="i">
      <i class="fas fa-lock"></i>
    </div>

    <div class="div">
      <input
        type="password"
        class="input"
        placeholder="Contraseña"
        formControlName="password"
      />
    </div>
  </div>
  <button (click)="loginfo()" class="btn btn-primary" value="Login">Ingresar</button>
</form>
